{{ "{% extends 'template.html.twig' %}" }}

{{ '{% block title %}' }}Hello world!{{ '{% endblock title %}' }}

{{ '{% block content %}' }}
    <article>
        <h1>Hello world!</h1>
    </article>
{{ '{% endblock content %}' }}

